<ul class="main-menu__list leftnavsidebar">
	<li class="main-menu__item">
		<a routerLink="/account/dashboard" class="main-menu__link">Sell</a>
	</li>
	<li class="main-menu__item">
		<div class="filter" appCollapseItem="filter--opened" #collapseItem="appCollapseItem">
            <button type="button" class="filter__title" (click)="collapseItem.toggle()">
                Categories
            </button>
            <div class="filter__body" appCollapseContent>
                <div class="filter__container">
                    <ul class="menu__list">
						<li class="menu__item">
							<a class="menu__link" routerLink="/shop/category/sneakers/products">Sneakers</a>
						</li>
						<li class="menu__item">
							<a class="menu__link" routerLink="/shop/category/apparel/products">Apparel</a>
						</li>
					</ul>
                </div>
            </div>
        </div>
	</li>
	<li class="main-menu__item">
		<a  routerLink="/site/feed" class="main-menu__link">Feed</a>
	</li>
	<li class="main-menu__item">
		<a  routerLink="/shop/cart" class="main-menu__link">Cart</a>
	</li>
	<li class="main-menu__item">
		<div class="filter" appCollapseItem="filter--opened" #collapseItem1="appCollapseItem">
            <button type="button" class="filter__title" (click)="collapseItem1.toggle()">
                Account
            </button>
            <div class="filter__body" appCollapseContent>
                <div class="filter__container">
                    <ul class="menu__list">
						<li class="menu__item">
							<a class="menu__link" routerLink="/account/profile">Profile</a>
						</li>
						<li class="menu__item">
							<a class="menu__link" href="#">Portfolio</a>
						</li>
						<li class="menu__item">
							<a class="menu__link" routerLink="/account/dashboard">Seller Dashboard</a>
						</li>
						<li class="menu__item">
							<a class="menu__link" href="#">Orders</a>
						</li>
						
						<li class="menu__item" *ngIf="account.user">
							<a class="menu__link" (click)="logout()">Logout</a>
						</li>
					</ul>
                </div>
            </div>
        </div>
	</li>
	<li class="main-menu__item">
		<a href="#" class="main-menu__link">Wishlist</a>
	</li>
</ul>