<div class="block">
	<div class="mainpagetitle">Careers</div>
	<div class="careerquote">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis mauris tellus. Quisque tincidunt porttitor nibh a pellentesque. Etiam sollicitudin dapibus massa vitae venenatis..."</div>
	<div class="jobsection">
		<div class="jobtitle">Job Title 1</div>
		<div class="jobcontent">In malesuada, urna vel cursus consequat, tellus diam sagittis purus, id efficitur neque sapien ut sem. Morbi vehicula magna id orci tristique, at rutrum dolor congue. Nam quam neque, dignissim ac magna vel, sagittis vehicula turpis. Praesent vehicula ipsum sed libero cursus commodo. Donec a ipsum magna. Curabitur semper imperdiet lorem, eget maximus odio interdum eu. Aliquam ultricies porttitor dolor, vel iaculis est ornare non. Phasellus a ante eu dui cursus venenatis sit amet et nibh. Integer varius urna id nibh pharetra, sed cursus orci porttitor.</div>
		<div class="applybtn">
			<button class="btn btn-primary">Apply Now</button>
		</div>
	</div>
	<div class="jobsection">
		<div class="jobtitle">Job Title 2</div>
		<div class="jobcontent">In malesuada, urna vel cursus consequat, tellus diam sagittis purus, id efficitur neque sapien ut sem. Morbi vehicula magna id orci tristique, at rutrum dolor congue. Nam quam neque, dignissim ac magna vel, sagittis vehicula turpis. Praesent vehicula ipsum sed libero cursus commodo. Donec a ipsum magna. Curabitur semper imperdiet lorem, eget maximus odio interdum eu. Aliquam ultricies porttitor dolor, vel iaculis est ornare non. Phasellus a ante eu dui cursus venenatis sit amet et nibh. Integer varius urna id nibh pharetra, sed cursus orci porttitor.</div>
		<div class="applybtn">
			<button class="btn btn-primary">Apply Now</button>
		</div>
	</div>
	<div class="jobsection">
		<div class="jobtitle">Job Title 3</div>
		<div class="jobcontent">In malesuada, urna vel cursus consequat, tellus diam sagittis purus, id efficitur neque sapien ut sem. Morbi vehicula magna id orci tristique, at rutrum dolor congue. Nam quam neque, dignissim ac magna vel, sagittis vehicula turpis. Praesent vehicula ipsum sed libero cursus commodo. Donec a ipsum magna. Curabitur semper imperdiet lorem, eget maximus odio interdum eu. Aliquam ultricies porttitor dolor, vel iaculis est ornare non. Phasellus a ante eu dui cursus venenatis sit amet et nibh. Integer varius urna id nibh pharetra, sed cursus orci porttitor.</div>
		<div class="applybtn">
			<button class="btn btn-primary">Apply Now</button>
		</div>
	</div>
    
</div>

<app-block-space layout="before-footer"></app-block-space>
