
    <div class="row">
        <div *ngFor="let column of columns" class="col-12">
            <div class="block-products-columns__title">{{ column.title }}</div>
            <div class="block-products-columns__list">
                <div *ngFor="let product of allProducts" class="block-products-columns__list-item">
                    <app-product-card
                        [product]="product"
                    ></app-product-card>
                </div>
            </div>
        </div>
    </div>

