<div class="block">
	<div class="mainpagetitle">Feed</div>
	<div class="row">
		<div class="col-md-6">
			<div class="feedbox">
				<div class="feedimage"><img src="assets/images/feed1.jpg"></div>
				<div class="feedtitle">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis mauris tellus. Quisque tincidunt porttitor nibh a pellentesque. Etiam sollicitudin dapibus massa vitae venenatis..."</div>
				<div class="feedtags">#streetwear #skateboarding #sports</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="feedbox">
				<div class="feedimage"><img src="assets/images/feed2.jpg"></div>
				<div class="feedtitle">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis mauris tellus. Quisque tincidunt porttitor nibh a pellentesque. Etiam sollicitudin dapibus massa vitae venenatis..."</div>
				<div class="feedtags">#sneaker #lilnasx</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="feedbox">
				<div class="feedimage"><img src="assets/images/feed3.jpg"></div>
				<div class="feedtitle">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis mauris tellus. Quisque tincidunt porttitor nibh a pellentesque. Etiam sollicitudin dapibus massa vitae venenatis..."</div>
				<div class="feedtags">#music #justinbieber</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="feedbox">
				<div class="feedimage"><img src="assets/images/feed4.jpg"></div>
				<div class="feedtitle">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis mauris tellus. Quisque tincidunt porttitor nibh a pellentesque. Etiam sollicitudin dapibus massa vitae venenatis..."</div>
				<div class="feedtags">#tech #fashion</div>
			</div>
		</div>
	</div>
	
    
</div>

<app-block-space layout="before-footer"></app-block-space>
