<div class="dashboard" *ngIf="account.user">

	<div class="dashboardheader">
		<div class="dashboard-heading">Dashboard</div>
		<div class="profile-card__name">{{ account.user.firstName }} {{ account.user.lastName }}</div>
	</div>
	<ul class="dashboardlinks">
		<li><a routerLink="/account/dashboard" class="active"><i class="fa fa-plus"></i>{{ 'TEXT_ADD_NEW'|translate }}</a></li>
		<li><a routerLink="/account/active">{{ 'TEXT_ACTIVE'|translate }}</a></li>
		<li><a routerLink="/account/pending">{{ 'TEXT_PENDING'|translate }}</a></li>
		<li><a routerLink="/account/history">{{ 'TEXT_HISTORY'|translate }}</a></li>
		<li><a routerLink="/account/mostwanted">{{ 'TEXT_MOSTWANTED'|translate }}</a></li>
		<li><a routerLink="/account/settings">{{ 'TEXT_SETTINGS'|translate }}</a></li>
		
	</ul>
	
	
	<div class="addproductsection">
	<div class="row">
		<div class="col-md-6">
			<ng-container [formGroup]="form">
				<div class="form-row">


						<div class="form-group col-md-12">
								<label for="{{ formId }}-category">Category</label>
								<select
								id="{{ formId }}-category"
								class="form-control"
								formControlName="category"
								[class.is-invalid]="form.controls.category|isInvalid"
							>
								<option value="Sneaker">Sneaker</option>
								<option value="Streetwear">Streetwear</option>
								<option value="Accessories">Accessories</option>
							</select>
								<div class="invalid-feedback">
									<div *ngIf="form.controls.category|hasError:'required'">
										{{ 'ERROR_FORM_REQUIRED'|translate }}
									</div>
								</div>
							</div>

					


					<div class="form-group col-md-12">
						<label for="{{ formId }}-name">Name</label>
						
						<ng-container *ngIf="!isAdmin">

						<ng-autocomplete
						[data]="approvedProduct"
						[searchKeyword]="keyword"
						[placeholder]="'INPUT_SKU_PLACEHOLDER'|translate"
						(selected)='selectEvent($event)'
						(inputChanged)='onChangeSearch($event)'
						[itemTemplate]="itemTemplate"
						[debounceTime]=1000
						formControlName="name"
						>
					  </ng-autocomplete>
					
					  <ng-template #itemTemplate let-item>
						<a [innerHTML]="item.name"></a>
					  </ng-template>
					</ng-container>

					  <input *ngIf="isAdmin"
					  type="text"
					  class="form-control"
					  id="{{ formId }}-name"
					  formControlName="name"
					  [class.is-invalid]="form.controls.name|isInvalid"
					  autocomplete="off" 
				  >

						<div class="invalid-feedback">
							<div *ngIf="form.controls.name|hasError:'required'">
								{{ 'ERROR_FORM_REQUIRED'|translate }}
							</div>
						</div>
					</div>
					<div class="form-group col-md-12" *ngIf="form.controls.category.value==='Sneaker'">
						<label for="{{ formId }}-sku">{{ 'INPUT_SKU_LABEL'|translate }}</label>
						<input
							type="text"
							class="form-control"
							id="{{ formId }}-sku"
							formControlName="sku"
							[class.is-invalid]="form.controls.sku|isInvalid"
							autocomplete="off" 
							onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"
						>
						<div class="invalid-feedback">
							<div *ngIf="form.controls.sku|hasError:'required'">
								{{ 'ERROR_FORM_REQUIRED'|translate }}
							</div>
						</div>
					</div>


					<div class="form-group col-md-12" *ngIf="form.controls.category.value!=='Sneaker' && !isAdmin">
							<label for="{{ formId }}-product">Product</label>
							<input
								type="text"
								class="form-control"
								id="{{ formId }}-product"
								formControlName="product"
								[class.is-invalid]="form.controls.product|isInvalid"
								autocomplete="off" 
							>
							<div class="invalid-feedback">
								<div *ngIf="form.controls.product|hasError:'required'">
									{{ 'ERROR_FORM_REQUIRED'|translate }}
								</div>
							</div>
						</div>
					<div class="form-group col-md-12" *ngIf="!isAdmin">
						<label for="{{ formId }}-size">{{ 'INPUT_SIZE_LABEL'|translate }}</label>
						<select
							id="{{ formId }}-size"
							class="form-control"
							formControlName="size"
							[class.is-invalid]="form.controls.size|isInvalid"
						>
							<option value="">{{ 'INPUT_BOX_CONDITION_PLACEHOLDER'|translate }}</option>
							<ng-container *ngIf="form.controls.category.value==='Sneaker'">
									<option *ngFor="let data of sneakerArray" [value]="data">{{data}}</option>
									
							</ng-container>
							<ng-container *ngIf="form.controls.category.value!=='Sneaker'">
									<option *ngFor="let data of sizeArray"  [value]="data.value">{{data.key}}</option>
									
							</ng-container>
							
						</select>
						<div class="invalid-feedback">
							<div *ngIf="form.controls.size|hasError:'required'">
								{{ 'ERROR_FORM_REQUIRED'|translate }}
							</div>
						</div>
					</div>


					<div class="form-group col-md-12"  *ngIf="!isAdmin">
						<label for="{{ formId }}-stock">Quantity</label>
						<input
							type="number"
							class="form-control"
							id="{{ formId }}-stock"
							formControlName="stock"
							[class.is-invalid]="form.controls.stock|isInvalid"
							autocomplete="off" 
						>
						<div class="invalid-feedback">
							<div *ngIf="form.controls.stock|hasError:'required'">
								{{ 'ERROR_FORM_REQUIRED'|translate }}
							</div>
						</div>
					</div>

					<div class="form-group col-md-12">
						<label for="{{ formId }}-brand">{{ 'INPUT_BRAND_LABEL'|translate }}</label>
						<input
							type="text"
							class="form-control"
							id="{{ formId }}-brand"
							formControlName="brand"
							[class.is-invalid]="form.controls.brand|isInvalid"
							autocomplete="off" 
						>
						<div class="invalid-feedback">
							<div *ngIf="form.controls.brand|hasError:'required'">
								{{ 'ERROR_FORM_REQUIRED'|translate }}
							</div>
						</div>
					</div>
					<div class="form-group col-md-12">
						<label for="{{ formId }}-color">{{ 'INPUT_COLORWAY_LABEL'|translate }}</label>
						<input
							type="text"
							class="form-control"
							id="{{ formId }}-color"
							formControlName="color"
							[class.is-invalid]="form.controls.color|isInvalid"
							autocomplete="off" 
						>
						<div class="invalid-feedback">
							<div *ngIf="form.controls.color|hasError:'required'">
								{{ 'ERROR_FORM_REQUIRED'|translate }}
							</div>
						</div>
					</div>

					<div class="form-group col-md-12" *ngIf="form.controls.category.value==='Accessories'">
							<label for="{{ formId }}-other_detail">Other Detail</label>
							<input
								type="text"
								class="form-control"
								id="{{ formId }}-other_detail"
								formControlName="other_detail"
								[class.is-invalid]="form.controls.other_detail|isInvalid"
								autocomplete="off" 
							>
							<div class="invalid-feedback">
								<div *ngIf="form.controls.other_detail|hasError:'required'">
									{{ 'ERROR_FORM_REQUIRED'|translate }}
								</div>
							</div>
						</div>
					
					<div class="form-group col-md-12" *ngIf="form.controls.category.value!=='Accessories' && !isAdmin">
						<label *ngIf="form.controls.category.value==='Sneaker'" for="{{ formId }}-box_condition">{{ 'INPUT_BOX_CONDITION_LABEL'|translate }}</label>
						<label *ngIf="form.controls.category.value!=='Sneaker'" for="{{ formId }}-box_condition"> Condition</label>

						<select
							id="{{ formId }}-box_condition"
							class="form-control"
							formControlName="box_condition"
							[class.is-invalid]="form.controls.box_condition|isInvalid"
						>
							<option value="">{{ 'INPUT_BOX_CONDITION_PLACEHOLDER'|translate }}</option>
							<option value="New">New</option>
							<option value="Slightly Damaged">Slightly Damaged</option>
							<option value="No Box">No Box</option>
						</select>
						<div class="invalid-feedback">
							<div *ngIf="form.controls.box_condition|hasError:'required'">
								{{ 'ERROR_FORM_REQUIRED'|translate }}
							</div>
						</div>
					</div>
					<div class="form-group col-md-12">
						<label for="{{ formId }}-images">{{ 'INPUT_IMAGE_LABEL'|translate }}</label>
						<span class="text-small">{{ 'TEXT_IMAGE_OPTIONAL'|translate }}</span>
						
						<div *ngIf="showCarousel" class="block-slideshow__carousel uploadanglessection">
							<owl-carousel-o  [options]="carouselOptions" appOwlPreventClick>
								<ng-template carouselSlide>
									<div class="anglesection">
										<div class="anglesectionleft">
											<div class="angleshoeimage">
												<img src="assets/images/angles/angle1.jpg" class="reflect-rtl" alt="Appearance of the sole of both the shoes">
											</div>
										</div>
										<div class="anglesectionright">
											<div class="angleuploadsection">
												<div class="file-upload">
													<input type="file" (change)="onImageAdd($event.target.files)"
													/>
													<img src="assets/images/angleplus.png">
												</div>
												<div class="deleteangle">
													<img src="assets/images/trash.png">
												</div>
											</div>
										</div>
									</div>
								</ng-template>
								<ng-template carouselSlide>
									<div class="anglesection">
										<div class="anglesectionleft">
											<div class="angleshoeimage">
												<img src="assets/images/angles/angle2.jpg" class="reflect-rtl" alt="Appearance of both the shoes from the top with insole visibility">
											</div>
										</div>
										<div class="anglesectionright">
											<div class="angleuploadsection">
												<div class="file-upload">
													<input type="file" />
													<img src="assets/images/angleplus.png">
												</div>
												<div class="deleteangle">
													<img src="assets/images/trash.png">
												</div>
											</div>
										</div>
									</div>
								</ng-template>
								<ng-template carouselSlide>
									<div class="anglesection">
										<div class="anglesectionleft">
											<div class="angleshoeimage">
												<img src="assets/images/angles/angle3.jpg"  class="reflect-rtl" alt="Appearance of both the shoes from behind">
											</div>
										</div>
										<div class="anglesectionright">
											<div class="angleuploadsection">
												<div class="file-upload">
													<input type="file" />
													<img src="assets/images/angleplus.png">
												</div>
												<div class="deleteangle">
													<img src="assets/images/trash.png">
												</div>
											</div>
										</div>
									</div>
								</ng-template>
								<ng-template carouselSlide>
									<div class="anglesection">
										<div class="anglesectionleft">
											<div class="angleshoeimage">
												<img src="assets/images/angles/angle4.jpg" class="reflect-rtl" alt="Shoe Box">
											</div>
										</div>
										<div class="anglesectionright">
											<div class="angleuploadsection">
												<div class="file-upload">
													<input type="file" />
													<img src="assets/images/angleplus.png">
												</div>
												<div class="deleteangle">
													<img src="assets/images/trash.png">
												</div>
											</div>
										</div>
									</div>
								</ng-template>
								<ng-template carouselSlide>
									<div class="anglesection">
										<div class="anglesectionleft">
											<div class="angleshoeimage">
												<img src="assets/images/angles/angle5.jpg"  class="reflect-rtl" alt="Appearance of both the shoes (full Image)">
											</div>
										</div>
										<div class="anglesectionright">
											<div class="angleuploadsection">
												<div class="file-upload">
													<input type="file" />
													<img src="assets/images/angleplus.png">
												</div>
												<div class="deleteangle">
													<img src="assets/images/trash.png">
												</div>
											</div>
										</div>
									</div>
								</ng-template>
								<ng-template carouselSlide>
									<div class="anglesection">
										<div class="anglesectionleft">
											<div class="angleshoeimage">
												<img src="assets/images/angles/angle6.jpg" class="reflect-rtl" alt="Zoomed in picture of the Air Jordan tag and Nike Swoosh">
											</div>
										</div>
										<div class="anglesectionright">
											<div class="angleuploadsection">
												<div class="file-upload">
													<input type="file" />
													<img src="assets/images/angleplus.png">
												</div>
												<div class="deleteangle">
													<img src="assets/images/trash.png">
												</div>
											</div>
										</div>
									</div>
								</ng-template>
								<ng-template carouselSlide>
									<div class="anglesection">
										<div class="anglesectionleft">
											<div class="angleshoeimage">
												<img src="assets/images/angles/angle7.jpg" class="reflect-rtl" alt="Appearance of the toe box for both the shoes (Zoomed in)">
											</div>
										</div>
										<div class="anglesectionright">
											<div class="angleuploadsection">
												<div class="file-upload">
													<input type="file" />
													<img src="assets/images/angleplus.png">
												</div>
												<div class="deleteangle">
													<img src="assets/images/trash.png">
												</div>
											</div>
										</div>
									</div>
								</ng-template>
								
							</owl-carousel-o>
							
						</div>
						
						
						
						
						
					</div>
					<div class="form-group col-md-12"  *ngIf="!isAdmin">
						<label for="{{ formId }}-price">{{ 'INPUT_ASK_PRICE_LABEL'|translate }}</label>
						<span class="text-small">{{ 'TEXT_PRICE_OPTIONAL'|translate }}</span>
						
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text">INR</span>
							</div>
							<input
								type="text"
								class="form-control"
								id="{{ formId }}-price"
								formControlName="price"
								[class.is-invalid]="form.controls.price|isInvalid"
								autocomplete="off" 
								onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"
							>
						</div>
						<div class="invalid-feedback">
							<div *ngIf="form.controls.price|hasError:'required'">
								{{ 'ERROR_FORM_REQUIRED'|translate }}
							</div>
						</div>
						<div class="pricesbox" *ngIf="form.value.price">
							<table>
								<tr>
									<td>List Price</td>
									<td>₹{{form.value.price}}</td>
								</tr>
								<tr>
									<td>Transaction Fee (10%)</td>
									<td>₹{{form.value.price*0.1}}</td>
								</tr>
								<tr>
									<td>Service Tax (1.8%)</td>
									<td>₹{{form.value.price*0.018}}</td>
								</tr>
								<tr>
									<td>Shipping</td>
									<td>₹120</td>
								</tr>
								<tr>
									<td>Authentication Fee</td>
									<td>waived</td>
								</tr>
								<tr>
									<td>You will recieve</td>
									<td>₹{{returnPrice(form.value.price,form.value.price*0.1,form.value.price*0.018,120)}}</td>
								</tr>
							</table>
						</div>
						
					</div>
					<div class="form-group mb-0 pt-3">
						<button
							class="btn btn-primary"
							[class.btn-loading]="saveInProgress"
							(click)="save()"
						>{{ 'BUTTON_CONFIRM'|translate }}</button>
					</div>
					
				</div>
			</ng-container>
		</div>
		<div class="col-md-6">
		
			<div class="row">
				<div class="col-md-6">
					<div class="addproductimage"><img src="assets/images/products/product-1-1.png"></div>
				</div>
				<div class="col-md-6">
					<div class="addproductdetailbox">
						<div class="productname">Adidas Yeezy Boost 350 V2 Desert Sage</div>
						<ul class="productmeta">
							<li>Brand: adidas</li>
							<li>Colorway: Desert Sage</li>
							<li>Year: 2020</li>
						</ul>
					</div>
				</div>
			</div>
		
		
		</div>
	</div>
	</div>
	
	
	
	
	


    
</div>
