<app-block-header
    pageTitle="Privacy"
    [breadcrumb]="[
        {label: 'Home', url: ''},
        {label: 'Breadcrumb', url: ''},
        {label: 'Current Page', url: ''}
    ]"
></app-block-header>

<div class="block">
    
        <div class="privacybanner">
			<img src="assets/images/privacy.png">
		</div>
		<div class="privacycontent">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis mauris tellus. Quisque tincidunt porttitor nibh a pellentesque. Etiam sollicitudin dapibus massa vitae venenatis.</p>
			<p>In malesuada, urna vel cursus consequat, tellus diam sagittis purus, id efficitur neque sapien ut sem. Morbi vehicula magna id orci tristique, at rutrum dolor congue. Nam quam neque, dignissim ac magna vel, sagittis vehicula turpis. Praesent vehicula ipsum sed libero cursus commodo. Donec a ipsum magna. Curabitur semper imperdiet lorem, eget maximus odio interdum eu. Aliquam ultricies porttitor dolor, vel iaculis est ornare non. Phasellus a ante eu dui cursus venenatis sit amet et nibh. Integer varius urna id nibh pharetra, sed cursus orci porttitor. Proin magna quam, blandit in aliquet nec, placerat nec nulla. Morbi luctus quis tellus non interdum. Phasellus fringilla sed magna et fringilla. Curabitur pretium blandit sem, vitae aliquet mauris finibus et.</p>
			<p>Proin sagittis nunc enim, id viverra magna tincidunt malesuada. Nullam pellentesque arcu vitae ex vehicula, vel pharetra mi aliquam. Mauris vestibulum mi lacinia facilisis viverra. 
			Ut mattis laoreet diam ac sagittis. Aliquam suscipit semper odio sed euismod. Suspendisse luctus nec diam quis fringilla. Quisque congue ex eu purus lacinia cursus.</p>
			<p>Phasellus tristique orci sit amet nisl maximus semper. Curabitur porta arcu lobortis laoreet consectetur. Nullam elit quam, tincidunt sit amet leo vitae, efficitur varius turpis. Praesent congue vestibulum velit, in finibus velit consectetur sit amet. Aliquam ut elementum nisi, nec gravida orci. Nam iaculis ac ex eu lacinia. Donec vitae mi non eros pulvinar pretium. Aenean vitae dui vitae libero faucibus consectetur eget sed nisl. Nam eget nisl nec lectus sollicitudin condimentum non eget eros.</p>
			<p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas volutpat ex tellus, et tincidunt velit auctor pretium. Proin tempor leo non lorem vehicula sagittis nec dignissim sapien. Vivamus ac magna sed ligula sagittis semper. Cras justo arcu, venenatis ac laoreet id, elementum id sapien. Morbi faucibus viverra odio id molestie. Fusce arcu ipsum, sollicitudin in elit eget, efficitur suscipit mauris. Nam quis egestas tortor. Pellentesque sed dui viverra, porttitor eros ut, pharetra mi. Nunc hendrerit leo vitae orci porttitor ultrices. Vivamus et metus ultrices, ultricies augue ac, ultrices tortor.</p>
			<p>Quisque condimentum, erat sit amet mattis pretium, eros ipsum venenatis nulla, porta tristique massa diam sit amet erat. Morbi diam turpis, fermentum eget libero at, tincidunt sagittis elit. Fusce lectus nisi, varius eget ipsum nec, ornare pellentesque massa. Suspendisse tincidunt mollis varius. Praesent non elit metus. Duis scelerisque justo eget euismod varius. Curabitur at augue non massa mollis porttitor a in justo. Phasellus aliquam est eu ligula laoreet, non interdum urna condimentum. Vivamus egestas velit hendrerit aliquet tincidunt. Nulla tempus, augue a aliquet semper, odio tellus tempor urna, eget auctor nisi lorem a lacus. Donec a ex luctus ex pulvinar mattis non vel nisl.</p>
		</div>
    
</div>

<app-block-space layout="before-footer"></app-block-space>
