<div class="block">
	<div class="mainpagetitle">Reviews</div>
	<div class="reviewsection">
		<div class="row">
			<div class="col-md-3">
				<div class="authorname">Shravan Sud</div>
				<div class="authorlocation">Seller, New delhi</div>
			</div>
			<div class="col-md-9">
				<div class="reviewcontent">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis mauris tellus. Quisque tincidunt porttitor nibh a pellentesque. Etiam sollicitudin dapibus massa vitae venenatis..."</div>
			</div>
		</div>
	</div>
	<div class="reviewsection">
		<div class="row">
			<div class="col-md-3">
				<div class="authorname">Shravan Sud</div>
				<div class="authorlocation">Seller, New delhi</div>
			</div>
			<div class="col-md-9">
				<div class="reviewcontent">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis mauris tellus. Quisque tincidunt porttitor nibh a pellentesque. Etiam sollicitudin dapibus massa vitae venenatis..."</div>
			</div>
		</div>
	</div>
	<div class="reviewsection">
		<div class="row">
			<div class="col-md-3">
				<div class="authorname">Shravan Sud</div>
				<div class="authorlocation">Seller, New delhi</div>
			</div>
			<div class="col-md-9">
				<div class="reviewcontent">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis mauris tellus. Quisque tincidunt porttitor nibh a pellentesque. Etiam sollicitudin dapibus massa vitae venenatis..."</div>
			</div>
		</div>
	</div>
	<div class="reviewsection">
		<div class="row">
			<div class="col-md-3">
				<div class="authorname">Shravan Sud</div>
				<div class="authorlocation">Seller, New delhi</div>
			</div>
			<div class="col-md-9">
				<div class="reviewcontent">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis mauris tellus. Quisque tincidunt porttitor nibh a pellentesque. Etiam sollicitudin dapibus massa vitae venenatis..."</div>
			</div>
		</div>
	</div>
	
    
</div>

<app-block-space layout="before-footer"></app-block-space>
