/*
// .block-products-columns
*/
@import '../variables';
@import '../mixins/product-card';
@import '../mixins/direction';
@import '../mixins/breakpoints';


.block-products-columns {}
.block-products-columns__title {
    border-bottom: 0;
	color: #ef4136;
    margin-bottom: 20px;
    padding-bottom: 8px;
    font-size: 19px;
    font-weight: $font-weight-bold;
}
.block-products-columns__list-item {
    & + & {
        margin-top: 16px;
    }

    .product-card {
        @include product-card-horizontal-base;
    }
}


.block-products-columns__list-item {
    margin: 10px;
    width: calc((100% - 80px) / 4);
	flex-shrink: 0;
    display: flex;
}
.block-products-columns__list-item .product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}





@include media-breakpoint-up(xxl) {
    .block-products-columns__list-item {
        .product-card {
            @include product-card-horizontal-base-md;
        }
    }
}
@include media-breakpoint-down(lg) {
    .block-products-columns {
        display: none;
    }
}
