
<div class="block">
    <div class="">
        <div class="row">
            <div class="col-md-12 d-flex">
                <div class="flex-grow-1 mb-md-0 mr-0 mr-lg-3 ml-0 ml-lg-4">
                    <div class="loginformdiv">
                        <h3 class="card-title">{{ 'HEADER_FORGOT_PASSWORD'|translate }}</h3>
						<p>Enter your email to receive instructions on how to reset your password.</p>
                        <form [formGroup]="forgotpasswordForm">
                            <div *ngIf="forgotpasswordForm.errors?.server" class="alert alert-sm alert-danger">
                                {{ forgotpasswordForm.errors.server|translate }}
                            </div>
							
                            <div class="form-group">
                                <label for="signup-email">{{ 'INPUT_EMAIL_ADDRESS_LABEL'|translate }}</label>
                                <input
                                    id="signup-email"
                                    type="email"
                                    class="form-control"
                                    [class.is-invalid]="forgotpasswordForm.controls.email|isInvalid"
                                    formControlName="email"
                                >
                                <div class="invalid-feedback">
                                    <div *ngIf="forgotpasswordForm.controls.email|hasError:'required'">
                                        {{ 'ERROR_FORM_REQUIRED'|translate }}
                                    </div>
                                    <div *ngIf="forgotpasswordForm.controls.email|hasError:'email'">
                                        {{ 'ERROR_FORM_INCORRECT_EMAIL'|translate }}
                                    </div>
                                </div>
                            </div>
                           
                            <div class="form-group mb-0">
                                <button
                                    type="submit"
                                    class="btn btn-primary mt-3"
                                >
                                    {{ 'BUTTON_RESET'|translate }}
                                </button>
                            </div>
							<div class="form-group loginlinks">
								<a routerLink="/account/login">{{ 'LINK_RETURN_LOGIN'|translate }}</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-block-space layout="before-footer"></app-block-space>
