<div class="sortheader">
Sort by
</div>
<ul>
<li class="active">Best Selling</li>
<li>Price Low</li>
<li>Price High</li>
</ul>

<div class="filterheader">
Filters
</div>

<div class="sizesection">
<h3>Size</h3>
<ul>
<li>UK XX</li>
<li>UK XX</li>
<li>UK XX</li>
<li>UK XX</li>
<li class="active">UK XX</li>
<li>UK XX</li>
<li>UK XX</li>
<li>UK XX</li>
<li>UK XX</li>
<li>UK XX</li>
<li>UK XX</li>
<li>UK XX</li>
</ul>
</div>
<div class="brandsection">
<h3>Brand</h3>
<ul>
<li>Name</li>
<li>Name</li>
<li class="active">Name</li>
<li>Name</li>
<li>Name</li>
<li>Name</li>
<li>Name</li>
</ul>
</div>

<div class="filtersubmitbtn">
<button type="submit">Apply Filter</button>
</div>