
    <div class="row">
        <div *ngFor="let column of columns" class="col-12">
            <div class="block-catproducts-columns__title">{{ column.title }}</div>
			<div class="block-catproducts-columns-banner"><img src="{{ column.bannerimg }}" class="desktopbanner"><img src="{{ column.mobilebannerimg }}" class="mobilebanner"></div>
            <div class="block-products-columns__list">
                <div *ngFor="let product of column.products" class="block-products-columns__list-item">
                    <app-product-card
                        [product]="product"
                    ></app-product-card>
                </div>
            </div>
        </div>
    </div>

